// main: ../../less/bootstrap.less

.transition-all(@time; @timing) {
  -webkit-transition: all @time @timing;
    -moz-transition: all @time @timing;
    -o-transition: all @time @timing;
    transition: all @time @timing;
}

.bg-image(@url){
  background-image: url(@url);
  background-position: center;
  background-repeat: no-repeat;
}

.section-center{
  height: 88vh;
  vertical-align: middle;
  display: table-cell;

}

.section-title{
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 3.4rem;
}

.section-description{
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.flex{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.flex-column{
  -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.flex-center{
  -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
             text-align: center;
}

