// main: ../less/bootstrap.less

.my_header {
  min-height: 100vh;
  .bg-image( "../img/bg-home.png")
}

.my_navbar-collapse {
  border: none;
  background: @bg-navbar;
  @media (min-width: @screen-sm-min) {
    background: none;
  }
}
.my_navbar {
  background: @bg-navbar;
  border: none;

  @media (min-width: @screen-sm-min) {
    background: none;
  }
  .transition-all(2s, ease);
  &-fixed {
    background: @body-bg;
  }

  &-header{
    min-height: 8rem;
  }

  .my_navbar-right {
    text-align: center;
    .my_navbar-link {
        color: @brand-black;
        font-weight: 700;
        border-top: 3px solid transparent;
        margin: 0 auto;
        width: 20%;
        @media (min-width: @screen-sm-min) {
          margin: 3rem 1.5rem;
          width: auto;
          padding: 0;
        }

        &:hover {
          border-top: 3px solid @brand-warning;
          background-color: transparent;
        }

    }

    .my_link-active {
      border-top: 3px solid @brand-warning;
    }
  }
}

.my_home {
  &-center {
    .section-center;
  }

  &-title {
    .section-title;
  }

  &-description {
    .section-description;
  }

  &-btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    margin-top: 3rem;
  }

  &-scroll {
    margin-bottom: 5rem;
  }
}

.my_about {
  background: #00c4c4;
  color: @gray-lighter;

  &-center {
    .section-center;
  }

  &-title {
    .section-title;
  }

  &-description {
    .section-description;
  }
}

.my_services {
  background: #70bfff;
  color: @gray-lighter;
  overflow: hidden;

  &-description {
    .section-center;
  }

  &-title {
    .section-title;
    @media (min-width: @screen-md-min) {
      .section-center;
      .bg-image( "../img/services-bg.png");
      background-size: contain;
      min-width: 400px;
      text-align: center;
    }
  }

  &-list {
    .flex;
    .flex-column;
  }

  &-item {
    .flex;
    .flex-row;
    .flex-center;
    background: @brand-white;
    color: @brand-black;
    margin-top: 3rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    max-width: auto;
    max-height: 100px;
    @media (min-width: @screen-md-min) {
      min-width: 400px;
    }
  }

  &-p {
    width: 75%;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.7rem;

  }

  &-img {
    width: 15%;
    height: 100%;
    padding: 0 1rem;
    position: relative;

  }
}
