// main: ../less/bootstrap.less
.thumbnail {
  border: none;
  background: none;
}
.my_header {
  min-height: 100vh;
  .bg-image( "../img/bg-home.png")
}

.my_navbar-collapse {
  border: none;
  background: @bg-navbar;
  @media (min-width: @screen-sm-min) {
    background: none;
    }
}
.my_navbar {
  background: @bg-navbar;
  border: none;
  .transition-all(2s, ease);
  @media (min-width: @screen-sm-min) {
    background: none;
    }
  &-fixed {
    background: @body-bg;
    }
  &-header{
    min-height: 8rem;
    padding: 1rem;
    }


  .my_navbar-right {
    text-align: center;
    .my_navbar-link {
        color: @brand-black;
        font-weight: 700;
        border-top: 3px solid transparent;
        margin: 0 auto;
        width: 20%;
        @media (min-width: @screen-sm-min) {
          margin: 3rem 1.5rem;
          width: auto;
          padding: 0;
        }

        &:hover {
          border-top: 3px solid @brand-warning;
          background-color: transparent;
        }

    }

    .my_link-active {
      border-top: 3px solid @brand-warning;
    }
  }
}

.my_home {
  &-center {
    .section-center;
  }
  &-title {
    .section-title;
  }
  &-description {
    .section-description;
  }
  &-btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    margin-top: 3rem;
  }
  &-scroll {
    margin-bottom: 5rem;
  }
}

.my_about {
  background: @bg-about;
  color: @gray-lighter;

  &-center {
    .section-center;
  }

  &-title {
    .section-title;
  }

  &-description {
    .section-description;
  }
}

.my_services {
  background: @bg-services;
  color: @gray-lighter;
  overflow: hidden;
  

  &-description {
    .section-center;
  }

  &-title {
    .section-title;
    @media (min-width: @screen-md-min) {
      .section-center;
      .bg-image( "../img/services-bg.png");
      background-size: contain;
      min-width: 400px;
      text-align: center;
    }
  }

  &-list {
    .flex;
    .flex-column;
  }

  &-item {
    .flex;
    .flex-row;
    .flex-center;
    background: @brand-white;
    color: @brand-black;
    margin-top: 3rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    max-width: auto;
    max-height: 100px;
    position: relative;
    @media (min-width: @screen-md-min) {
      min-width: 400px;
    }
    &::before{
      position: absolute;
      top: 0%;
      right: 25%;
      content: '';
      width: 1px;
      height: 100%;
      background-color: @brand-black;
    }
  }

  &-p {
    width: 75%;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.7rem;

  }

  &-img {
    width: 15%;
    height: 100%;
    padding: 0 1rem;
    position: relative;

  }
}

.my_gallery {
  text-align: center;
  background: @bg-gallery;
  color: @gray-base;
  &-title{
    .section-title;
  }
  &-description{
    .section-description;
  }
  &-btn{
    margin: 5rem 0;
    background-color:  @btn-gallery;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    color:  @brand-white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    padding: 2rem 4rem;
    .transition-all(1s, ease);
    &:hover{
      background-color: @brand-white;
      color: @btn-gallery;
    }
  }

  &-img{
    @media (min-width: @screen-md-min) {
        margin-bottom: 2.5rem;
    }

  }
}

.my_subscribe{
  .bg-image( "../img/bg-subscribe.png");
  color: @gray-base;
  line-height: 2.7rem;
  &-text{
    .section-center;
    height: 70vh;
  }
  &-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.4rem;
  }
  &-description{
    font-size: 1.7rem;
    width: 60%;
  }
  &-form{
    width: 100%;
    border-width: 1px solid @gray-base;
    font-size: 1.5rem;
    font-weight: 300;
    height: 5.5rem;
    padding: 1rem;
    @media (min-width: @screen-md-min) {
      width: 60%;
    }
  }
  &-btn{
    background-color:  @btn-subscribe;
    color: @brand-white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    height: 5.5rem;
    width: 50%;
    display: inline-block;
    margin-top: 2rem;
    .transition-all(1s, ease);
    margin-top:1rem;
    &:hover{
      background-color: @brand-white;
      color: @btn-subscribe;
    }
    @media (min-width: @screen-md-min) {
      margin-left: 2rem;
      width: 20%;
      margin-top: 0;


    }
  }
}

.my_blog{
  text-align: center;
  background: @bg-blog;
  color: @brand-white;
  margin: 0 auto;
  &-text{
    height: 70vh;
    }
  &-title{
    .section-title;
    }
  &-description{
    .section-description;
    }
  &-img{
    position: relative;
    margin: 0 auto;
    .transition-all(1s, ease);
    &:hover{
      transform: scale(1.1);
    }
    }
  &-date{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 50px;
    color:  @brand-white;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    background-color:  rgba(38, 38, 38, 0.5);
    @media (min-width: 450px){
      left: 30%; 
    }
    @media (min-width: @screen-sm-min) {
      left: 30px;
      font-size: 2rem;
      width: 50px;
      height: 50px;
      }
    @media (min-width: @screen-md-min) {
      font-size: 3.2rem;
      top: 30px;
      width: 60px;
      height: 60px;
      }
  }
  &-article{
    position: absolute;
    top: 60%;
    left: 0;
    color:  @brand-white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding:0 25%; 
    text-align: left;
    
    @media (min-width: @screen-sm-min) {
      top: 50%;
      padding: 0 30px;
      font-size: 1.3rem;
    }
    @media (min-width: @screen-md-min) {
      top:60%;
      left: 0;
      padding: 0 40px;
      font-size: 2rem;
    }
  }
  &-articledate{
    display: block;
    font-size:1.3rem;
    @media (min-width: @screen-sm-min) {
      font-size: 1rem;
    }
    @media (min-width: @screen-md-min) {
      left: 30px;
      font-size: 1.3rem;
      margin-top: 2rem;
  }
  }
  &-btn{
    margin: 5rem 0;
    background-color:  @btn-blog;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    color:  @brand-white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    padding: 2rem 4rem;
    .transition-all(1s, ease);
    &:hover{
      background-color: @brand-white;
      color: @btn-blog;
    }
  }
}

.my_contact {
  .bg-image('../../img/bg-contact.png');
  color: @txt-gallery;
  &-title{
    .section-title;
    margin-top: 10rem;
  }
  &-description{
    .section-description;
    margin-bottom: 4.6rem;
  }
  &-form{
    background-color:  rgba(0, 196, 196, 0.5);
    color: @brand-white;
    &::placeholder {
      color: @brand-white;
    }
  }
  &-address{
    font-size: 2 rem;
    font-weight: 700;
    line-height: 2.5rem;
    
    &:nth-of-type(3), &:nth-of-type(5){
      margin-top: 1.5rem;
    }
  }
}

.my_footer{
  padding: 4rem;
  background: @bg-footer;
  &-red{
    color: @span-footer;
  }
}
